/* Common Style */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
}

/* Terminal */
#terminal {
    width: 100vw;
    height: 100vh;
}

/* Dark Scrollbar (Chrome, Edge, Safari) */
#terminal::-webkit-scrollbar {
    width: 10px;
}

#terminal::-webkit-scrollbar-track {
    background: #111;
}

#terminal::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 6px;
    border: 2px solid #111;
}

#terminal::-webkit-scrollbar-thumb:hover {
    background: #4ec9b0;
}

/* Firefox */
#terminal {
    scrollbar-width: thin;
    scrollbar-color: #333 #111;
}
