<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSH Terminal</title>
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet"
          href="https://unpkg.com/xterm/css/xterm.css"
          onerror="this.onerror=null; this.href='/static/css/xterm.css'">
    <link rel="stylesheet" href="{{ url_for('static', path='style/terminal.css') }}">
</head>
<body>

<div id="terminal"></div>

<script src="https://unpkg.com/xterm/lib/xterm.js"
        onerror="this.onerror=null; this.src='/static/js/xterm/xterm.js'"></script>

<script src="https://unpkg.com/xterm-addon-fit/lib/xterm-addon-fit.js"
        onerror="this.onerror=null; this.src='/static/js/xterm/xterm-addon-fit.js'"></script>

<!-- Send router_name to JS -->
<script>
    window.ROUTER_NAME = "{{ router_name }}";
</script>

<!--  connect local JS file-->
<script src="{{ url_for('static', path='js/terminal.js') }}"></script>

</body>
</html>
